<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ngaber"
        tools:targetApi="31">
<!--        <meta-data-->
<!--            android:name="com.google.android.geo.API_KEY"-->
<!--            android:value="${MAPS_API_KEY}" />-->
        <activity
            android:name=".AccountDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PlacesListActivity"
            android:exported="false" />
        <activity
            android:name=".LocationAddMenu"
            android:exported="false" />
        <activity
            android:name=".Location_Search"
            android:exported="false" />
        <activity
            android:name=".main_menu.WalletActivity"
            android:exported="false" />
        <activity
            android:name=".AddPlaceMenu"
            android:exported="false"
            android:label="@string/title_activity_add_place_menu"
            android:theme="@style/Theme.Ngaber" />
        <activity
            android:name=".ChatMenu"
            android:exported="false" />
        <activity
            android:name=".Inbox"
            android:exported="false" />
        <activity
            android:name=".LoginMenu"
            android:exported="false" />
        <activity
            android:name=".SignUpMenu"
            android:exported="false" />
        <activity
            android:name=".main_menu.MainMenu"
            android:exported="false" />
        <activity
            android:name=".Onboarding"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>